ADD THIS TO YOUR GITCONFIG, DO NOT USE THIS AS A GITCONFIG

[alias]
	hist = log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate
	unstage = reset HEAD --
	restore = checkout --
	cn = commit --no-verify
	co = checkout
	praise = blame
	visualise = !gitk
	graph = log --color --graph --pretty=format:\"%h | %ad | %an | %s%d\" --date=short
	all = "!f() { ls -R -d */.git | xargs -P100 -I{} bash -c \"echo {} && git -C {}/../ $1\"; }; f"
	reauthor = !bash -c 'git rebase --onto $1 --exec \"git commit --amend --author=\\\"$2\\\"\" $1' --
